*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #f0f0f0;
    color: white;
}

.header{
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
}

ul{
    list-style-type: none;
    margin: -10;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

main{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: row;
}

.first-tab{
    background-color: orange;
    padding: 2em;
}

.second-tab{
    background-color: rgb(28, 133, 133);
    padding: 2em;
}

.third-tab{
    background-color: rgb(13, 107, 107);
    padding: 2em;
    width: -10%; 
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    display: inline-block;
    font-size: 12px;
    padding: 10px;
}

button{
    background-color: transparent;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 16px;
    border: 2px solid white;
    margin: auto;
    color: white;
}

#mybutton{
    color: white;
}

img{
    width: 36px;
}







